@model TestCore.Models.Reports.StockDetailReport

@{
    ViewData["Title"] = "Report (Item Ledger Summary)";
}

<h2>Item Ledger Summary Report</h2>
<hr />

<div class="panel-group" id="accordion">
    <!-- Filter Panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" href="#reportFilter">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp; Report Filter
                </a>
            </h4>
        </div>
        <div id="reportFilter" class="panel-collapse collapse in">
            <div class="panel-body">
                <div id="reportForm">
                    <form asp-action="ItemLedgerSummary">
                        <div class="row">
                            <div class="col-md-4">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="StartDate" class="control-label"></label>
                                    <input asp-for="StartDate" class="form-control" />
                                    <span asp-validation-for="StartDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="EndDate" class="control-label"></label>
                                    <input asp-for="EndDate" class="form-control" />
                                    <span asp-validation-for="EndDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="LocationId" class="control-label"></label>
                                    <select asp-for="LocationId" asp-items="@(ViewBag.VBLocationList)" class="form-control search-list"></select>
                                    <span asp-validation-for="LocationId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="ProductId" class="control-label" ></label>
                                <select asp-for="ProductId" asp-items="@(ViewBag.VBProductList)" class="form-control search-list"></select>
                                <span asp-validation-for="ProductId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input asp-for="IsSummary" class="radio-inline" /> 
                                    <label asp-for="IsSummary" class="checkbox-inline"></label>
                                    @*@Html.DisplayNameFor(model => model.IsSummary)*@
                                    <span asp-validation-for="IsSummary" class="text-danger"></span>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <input type="submit" value="Generate" class="btn btn-info" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <input type="reset" value="Clear" class="btn btn-danger" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Result Panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" href="#resultSearch">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp; Result
                </a>
            </h4>
        </div>
        <div id="resultSearch" class="panel-collapse collapse in">
            <div class="panel-body">
                <div>
                    @if (!(Model is null) && !(Model.Result is null)
&& (Model.Result.Rows.Count > 0))
                    {

                        <table class="table table-bordered" id="ItemLedgerSummaryReport">
                            <thead>
                                <tr>
                                    <th>
                                        Product
                                    </th>
                                    <th>
                                        <span>Location</span>
                                    </th>
                                    <th>
                                        Opening
                                    </th>
                                    <th>
                                        In Qty
                                    </th>
                                    <th>
                                        Out Qty
                                    </th>
                                    <th>
                                        Balance Qty
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (System.Data.DataRow item in Model.Result.Rows)
                                {
                                    string pname = Convert.ToString(item["ProductName"]);
                                    var location = item["LocationName"];
                                    var opBal = item["OpeningBal"];
                                    int inQty = Convert.ToInt32(item["InQty"]);
                                    int outQty = Convert.ToInt32(item["OutQty"]);
                                    var balQty = item["BalanceQty"];
                                    <tr>
                                        <td>

                                            <span>@pname</span>


                                        </td>
                                        <td>
                                            @if (!Model.IsSummary || Model.LocationId > 0)
                                            {
                                                @location
                                            }
                                            else
                                            {
                                                <span>Wearhouses</span>
                                            }
                                        </td>
                                        <td align="right">

                                            @opBal
                                        </td>
                                        <td align="right">
                                            @inQty
                                        </td>
                                        <td align="right">
                                            @outQty
                                        </td>
                                        <td align="right">
                                            @balQty
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="6">&nbsp;</th>
                                </tr>
                            </tfoot>
                        </table>

                    }
                    else
                    {
                        <div>No rows returned.</div>
                    }

                </div>

            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            setTableWihoutSortAndFooter('#ItemLedgerSummaryReport', 'ItemLedgerSummaryReport');
            $('.search-list').select2();
        });
    </script>
}
